<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/sistema-academico/index.php">Navbar</a>
      <div class="container-fluid d-flex justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/sistema-academico/pages/disciplinas.php">Disciplinas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sistema-academico/pages/professores.php">Professores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sistema-academico/pages/alunos.php">Alunos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>